.header_inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  .header_logo{
    @media(max-width: 991px){
      order: 2;
      img{
        width: 70px;
      }
    }
  }
  .nav_btn_mb{
    vertical-align: -1px;
    position: relative;
    width: 72px;
    height: 12px;
    padding: 14px 0;
    margin-left: 5px;
    border: 0;
    cursor: pointer;
    pointer-events: auto;
    display: none;
    background: none !important;
    @media(max-width: 991px){
      display: block;
    }
    span{
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -1px;
      width: 20px;
      height: 2px;
      background: #222222;
      transition: transform .2s ease;
      &:before, &:after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #222222;
      }
      &:before {
        top: -7px;
        transition: top .2s ease .22s, opacity .2s ease, width .2s ease;
      }
      &:after {
        bottom: -7px;
        transition: bottom .2s ease .22s, transform .2s ease, width .2s ease;
      }
    }
  }
  .header_nav{
    font-weight: 700;

    .header_menu{
      display: flex;

      li{
        a{
          color: #222222;
          text-transform: uppercase;
          display: inline-block;
          padding: 20px 16px ;
          position: relative;
          &::after{
            position: absolute;
            content: "";
            width: 0;
            height: 2px;
            background-color: currentColor;
            left: 0;
            bottom: 10px;
            right: 0;
            margin: auto;
            transition: width .25s ease-in-out;
          }
          &:hover{
            &::after{
              width: 100%;
            }
          }
        }
      }

    }
    @media(max-width: 991px){
      order: 1;
      .header_menu{
        li{
          a{
            padding: 15px 25px ;
            display: block;
          }
        }
      }
    }
  }
  .header_icon{
    display: flex;
    align-items: center;

    .tooltip {
      margin-bottom: 0;
      background-color: #0000;
      border-radius: 9999px;
      cursor: pointer;
      position: relative;
      padding: 5px;
      display: inline-block;
      .tooltip__content{
        bottom: 110%;
        left: 50%;
        transform: translate(-50%);
        visibility: hidden;
        position: absolute;
        z-index: 75;
        min-width: max-content;
        border-radius: 3px;
        padding: 5px 8px;
        font-size: 12px;
        line-height: 1.2;
        opacity: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .25s;
        color: #ffffff;
        background: #000;
        &::before{
          position: absolute;
          content: "";
          background: #0000;
          width: 100%;
          height: 8px;
          left: 0;
          bottom: 100%;
        }
        &::after{
          content: "";
          width: 10px;
          height: 10px;
          background: #000;
          position: absolute;
          transform: rotate(45deg);
          z-index: -1;
          left: calc(50% - 5px);
          bottom: -3px;
        }
      }
      &:hover{
        .tooltip__content{
          visibility: visible;
          opacity: 1;
          bottom: calc(100% + 5px);
        }
      }
    }
    .svg-icon--medium-small {
      width: 18px;
      height: 18px;
      display: block;
    }
    .svg-icon--medium {
      width: 20px;
      height: 20px;
      display: block;
    }
    a{
      color: #000;
      display: inline-block;
      position: relative;
      padding: 14px 8px;
      .count_nb {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        height: 22px;
        min-width: 22px;
        background-color: #da3f3f;
        position: absolute;
        top: 5px;
        right: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 9999px;
      }
    }
    .icon_search{
      border: 0;
      display: inline-block;
      background: transparent;
      outline: none;
      padding: 8px 12px;
    }
    .header_search{
      position: relative;
      .form_search{
        position: absolute;
        top: 100%;
        right: 0;
        background: #ffffff;
        border-radius: 7px;
        padding: 15px;
        border: 1px solid #ebebeb;
        visibility: hidden;
        opacity: 0;
        transition: all 0.25s;
        form{
          display: flex;
          input{
            padding: 10px 10px;
            background: rgb(242,242,242);
            border-radius: 5px 0 0 5px;
            border: 0;
          }
          button{
            background: #000;
            color: #fff;
            padding: 5px 15px;
            font-size: 13px;
            border-radius: 0 5px 5px 0;
            white-space: nowrap;
            border: 0;
            outline: none;
          }
        }

      }

      .form_search:after,
      .form_search:before {
        bottom: 100%;
        right: 16px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        @media(max-width: 991px){
          right: 6px;
        }
      }
      .form_search:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #fff;
        border-width: 9px;
        margin-right: 0px;
      }
      .form_search:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ebebeb;
        border-width: 11px;
        margin-right: -2px;
      }
      &.open_search{
        .form_search{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    @media(max-width: 991px){
      order: 3;
      .icon_card, .icon_wishlist{
        display: none;
      }
      a, .icon_search{
        padding: 0px;
        margin-left: 7px;
        .tooltip__content{
          display: none !important;
        }
      }
    }
  }
}
header{
  @media(max-width: 991px){
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    .header_inner{
      .header_nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 240px;
        transform: translate(-100%);
        padding-top: 5px;
        height: calc(100vh - 46px);
        visibility: hidden;
        transition: all .25s;
        overflow-y: auto;
        background: #fff;
        .header_menu{
          display: block;
          ul{
            li{
              a{
                display: block;
                padding: 12px 16px;
              }
            }
          }
        }
      }
    }
  }
}
.over_lay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  z-index: 19;
  transition: all .25s;
}
body.open{
  .over_lay{
    display: block;
    transition-delay: .15s;
  }
  header{
    .header_inner{
      .nav_btn_mb{
        span{
          transform: rotate(45deg);
          transition-delay: .22s;
          &:before{
            top: 0;
            opacity: 0;
            width: 100%;
            transition: top .2s ease, opacity .2s ease .22s, width .1s ease;
          }
          &:after{
            bottom: 0;
            transform: rotate(-90deg);
            width: 100%;
            transition: bottom .2s ease, transform .2s ease .22s, width .1s ease;
          }
        }
      }
      .header_nav{
        transform: translate(0);
        visibility: visible;
      }
    }
  }
}


.register-form__wrapper {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  h2{
    font-size: 36px;
    font-weight: 400;
    padding: 40px 0 30px;
    text-align: center;
    @media(max-width: 991px){
      padding: 20px 0 30px;
      font-size: 30px;
    }
  }
}
.wrap_login{
  display: flex;
  max-width: 1160px;
  padding: 0 60px;
  margin: auto;
  .register-form__wrapper{
    width: 50%;
    padding: 0 30px;
    margin: 0;
    h2{
      text-align: left;
    }

  }
  @media(max-width: 991px){
    flex-wrap: wrap;
    padding: 0 0px;
    .register-form__wrapper{
      width: 100%;
    }
  }
}
.form_text{
  display: flex;
  justify-content: space-between;
}
.form-field {
  padding: 6px 12px;
  border: 1px solid rgb(238,238,238);
  border-radius: 5px;
  background-color: rgb(242,242,242);
  color: #000;
  width: 100%;
  outline: none;
  line-height: 2;
  margin-bottom: 15px;
  font-family: "Josefin Sans", sans-serif;
  transition: all .25s;
  font-size: 16px;
  &::placeholder{
    color: #7d7d7d;
  }
  &:focus{
    border-color: rgb(34,34,34);
  }
}
.register-form__description {
  color: rgb(102,102,102);
  margin-bottom: 20px;
}
.button--primary{
  display: block;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 12px;
  border: 0;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: var(--m-duration-default, .25s) all;
  &:hover{
    box-shadow: 0 0 0 .2rem #000000;
  }
}
.button--secondary{
  display: block;
  text-align: center;
  width: 100%;
  font-size: 16px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 12px;
  border: 1px solid #000000;
  color: #000000;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  margin-bottom: 15px;
  font-weight: 500;
  transition: var(--m-duration-default, .25s) all;
  &:hover{
    box-shadow: 0 0 0 .2rem #000000;
    background: #000000;
    color: #ffffff;
  }
}
.social_form{
  text-align: center;
  a{
    font-size: 16px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 9px 12px;
    border: 1px solid #dadce0;
    margin: 0px 0 15px;
    display: block;
    transition: var(--m-duration-default, .25s) all;
    img{
      vertical-align: -6px;
      margin-right: 5px;
    }
    &:hover{
      color: #000;
    }
  }
}
.or_span{
  margin: 30px auto 10px;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  color: #666;
  font-size: 16px;
  span{
    display: inline-block;
    padding:  0 20px;
    transform: translateY(-15px);
    background: #ffffff;
  }
}
footer{
  background: rgb(245,245,245);
  padding-top: 80px;
  padding-bottom: 40px;
  margin-top: 80px;
  @media(max-width: 767px){
    padding-top: 40px;
    margin-top: 40px;
  }
.footer_inner{
  display: flex;
  margin: 0 -20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media(max-width: 767px){
    margin-bottom: 0px;
  }
  .footer_col{
    width: 25%;
    padding: 0 20px;
    .logo_ft{
      display: block;
      max-width: 100%;
      margin-bottom: 30px;
    }
    h4{
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 20px;
    }
    ul{
      li{
        margin: 12px 0;
        a{
          color: rgb(102,102,102);
          font-size: 16px;
          transition: all 0.25s linear;
          position: relative;
          svg{
            width: 18px;
            vertical-align: sub;
            margin-right: 5px;
          }
          &:before{
            content: "";
            height: 1px;
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            bottom: -3px;
            background-color: #000;
            transition: all 0.25s ease;
          }
          &:hover{
            color: #000;
            &:before{
              width: 100%;
            }
          }
        }
      }
    }
    @media(max-width: 991px){

        width: 50%;

    }
    @media(max-width: 767px){

        width: 100%;
      margin-bottom: 20px;
      h4{
        margin-bottom: 10px;

      }
      ul{
        li{
          margin: 5px 0;
        }
      }
    }

  }
}
}

.newsletter-form{
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  svg{
    width: 16px;
  }
  > svg{
    position: absolute;
    top: 14px;
    left: 13px;
  }
  .form-field{
    background: #ffffff;
    border-radius: 5px 0 0 5px;
    border-right: 0;
    padding-left: 40px;
    margin-bottom: 0;
    &:focus{
      border-color: #eeeeee;
    }
  }
  button{
    border: 1px solid #eeeeee;
    border-radius: 0 5px 5px 0;
    background: #ffffff;
    color: #000;
    outline: none;
    border-left: 0;
    padding: 5px 15px;
    cursor: pointer;
  }
}
.copyright_ft{
  text-align: center;
  margin-top: 20px;
}
.social-media-links{
  a{
    color: #222;
    width: 48px;
    height: 48px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E9E9E9;
    transition: all .3s;
    margin-right: 15px;
    margin-bottom: 15px;
    svg{
      width: 20px;
      height: 20px;
    }
    &:hover{
      background-color: #222;
      color: #fff;
      box-shadow: 0 0 0 0.2rem #222;
    }
  }
}

.styled-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }


  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }


  &:hover + label:before {
    background: #000;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
  }

  &:checked + label:before {
    background: #000;
  }


  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }


  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 4px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.row_btn{
  display: flex;
  justify-content: space-between;
  .button{
    width: 48%;
  }
}

.wrap_profile{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
  padding: 40px 15px;
  .profile_siderbar{
    width: 250px;
    flex-shrink: 0;
    margin-right: 30px;
    h2{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    ul{
      li{
        margin: 10px 0;
        a{
          color: #666666;
          font-size: 16px;
          transition: all 0.25s linear;
          position: relative;
          &:before{
            content: "";
            height: 1px;
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            bottom: -3px;
            background-color: #000;
            transition: all 0.25s ease;
          }
          &:hover, &.active{
            color: #000;
            &:before{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .profile_content{
    flex-grow: 1;
  }
}